<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TensorFlow</title>
</head>

<body>
    <h1>Tensorflow @gandatadyo <br></h1>
    <hr>
    <a href="/tensor2d"> Making predictions from 2d data</a> <br>
    <a href="/tensorrecognition">Handwritten digit recognition with CNNs</a> <br>
    <a href="/tensortraniningpredictionnodejs">Training and Prediction in Node.js</a> <br>
    <a href="/tensorimageclassifier_image">Transfer learning image classifier @image</a> <br>
    <a href="/tensorimageclassifier_webcam">Transfer learning image classifier @webcam</a> <br>

    <hr>
    <script>
        
    </script>
</body>

</html>